<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres: Edit Genre</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/genres/edit-genre.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <h2>Edit Genre</h2>

      <form
        action="/genres/<%= genre.id %>/edit-genre?_method=PUT"
        method="POST"
      >
        <%- include("../partials/validationMessage.ejs", { errors }) %>

        <section class="form-group">
          <label for="name">Name</label>
          <input
            list="genres"
            name="name"
            id="name"
            value="<%= value %>"
            required
            placeholder="Enter genre"
          />
        </section>

        <section class="button-group">
          <a href="/genres">Back</a>
          <button type="submit">Save</button>
        </section>
      </form>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
