<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home: Games Inventory</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <h2><%= heading %></h2>

      <ul class="overview-list">
        <li>
          <span>Registered Games:</span>
          <span><%= totalGames %></span>
        </li>

        <li>
          <span>Registered Genres:</span>
          <span><%= totalGenres %></span>
        </li>

        <li>
          <span>Registered Developers:</span>
          <span><%= totalDevelopers %></span>
        </li>
      </ul>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
