<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home: Games Inventory</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <h2><%= heading %></h2>

      <section>
        <p>Total Developers: <%= totalDevelopers %></p>
        <p>Total Genres: <%= totalGenres %></p>
        <p>Total Games: <%= totalGames %></p>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
