<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Inventory | Developers</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/developers/index.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <aside class="sidebar">
        <section class="developers-header">
          <h2><%= heading %></h2>
          <a href="/developers/add-developer" class="btn-add">+</a>
        </section>

        <ul class="developer-list">
          <% developers.forEach((developer) => { %>
          <li class="developer-items">
            <a href="/developers/<%= developer.id %>"><%= developer.name %></a>

            <div class="developer-actions">
              <a
                href="/developers/<%= developer.id %>/edit-developer"
                class="btn-edit"
                >Edit</a
              >

              <form
                action="/developers/<%= developer.id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="btn-delete">Delete</button>
              </form>
            </div>
          </li>
          <% }); %>
        </ul>
      </aside>

      <section class="developer-games">
        <h3>Registered Games</h3>

        <% if(!developerGames || developerGames.length === 0) { %>
        <article class="empty-game-card">
          <p>No games found for this developer.</p>
        </article>

        <% } else { %> <% developerGames.forEach((game) => { %>
        <article class="game-card">
          <p class="game-name"><%= game.name %></p>
          <p class="game-genre">
            <span>Genre</span>: <%= game.genre_names.join(", ") %>
          </p>
          <p class="game-stock"><span>Stock</span>: <%= game.stock %></p>
        </article>
        <% }); %> <% } %>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
