<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Developers: Games Inventory</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/developers/index.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <aside class="sidebar">
        <h2><%= heading %></h2>
        <ul class="developer-list">
          <% developers.forEach((developer) => { %>
          <li>
            <a href="/developers/<%= developer.id %>"><%= developer.name %></a>
            <div class="developer-actions">
              <form
                action="/developers/<%= developer.id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="btn-delete">Delete</button>
              </form>
              <a
                class="edit-link"
                href="/developers/<%= developer.id %>/edit-developer"
                >Edit</a
              >
            </div>
          </li>
          <% }); %>
        </ul>
        <a class="add-link" href="/developers/add-developer">+ Developer</a>
      </aside>

      <section class="developer-games">
        <% developerGames.forEach((game) => { %>
        <article class="game-card">
          <p><%= game.name %></p>
          <p>Genre: <%= game.genre_names %></p>
          <p>Stock: <%= game.stock %></p>
        </article>
        <% }); %>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
