<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Inventory | Games</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/games/index.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section class="games-header">
        <h2><%= heading %></h2>

        <div class="add-search">
          <a href="/games/add-game" class="btn-add">+</a>

          <input
            type="search"
            name="search"
            id="search"
            placeholder="Type game name"
            class="search"
          />
        </div>
      </section>

      <section class="games-container">
        <% games.forEach((game) => { %>
        <div class="game-card">
          <article class="game-information">
            <p class="game-name"><%= game.name %></p>
            <p class="game-developer">
              <span>Developer</span>: <%= game.developer_names.join(", ") %>
            </p>
            <p class="game-genre">
              <span>Genre</span>: <%= game.genre_names.join(", ") %>
            </p>
            <p class="game-stock"><span>Stock</span>: <%= game.stock %></p>
          </article>

          <div class="game-actions">
            <a href="/games/<%= game.id %>/edit-game" class="btn-edit">Edit</a>
            <form action="/games/<%= game.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn-delete">Delete</button>
            </form>
          </div>
        </div>
        <% }); %>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script>
      const search = document.querySelector(".search");
      search.addEventListener("input", (event) => {
        const searchQuery = event.target.value.trim().toLowerCase();
        const gamesContainer = document.querySelector(".games-container");
        const gameCards = document.querySelectorAll(".game-card");

        const currentNoResultMessage =
          gamesContainer.querySelector(".no-result-message");

        if (currentNoResultMessage) currentNoResultMessage.remove();

        let hasVisibleGame = false;

        gameCards.forEach((card) => {
          const gameName = card.querySelector(".game-name");

          if (gameName.textContent.toLowerCase().includes(searchQuery)) {
            card.style.display = "flex";
            hasVisibleGame = true;
          } else {
            card.style.display = "none";
          }
        });

        if (!hasVisibleGame) {
          const noResultMessage = document.createElement("p");
          noResultMessage.classList.add("no-result-message");
          noResultMessage.textContent =
            "No result found. Please try again with different keyword.";

          gamesContainer.appendChild(noResultMessage);
        }
      });
    </script>
  </body>
</html>
