<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games: Games Inventory</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <h2><%= heading %></h2>

      <section class="games-container">
        <% games.forEach((game) => { %>
        <article class="game-information">
          <p><%= game.name %></p>
          <p><%= game.developer_name %></p>
          <p><%= game.genre_name %></p>
          <p><%= game.stock %></p>
        </article>
        <% }); %>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
