<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Inventory | Games</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/games/index.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section class="games-header">
        <h2><%= heading %></h2>
        <a href="/games/add-game" class="btn-add">+</a>
      </section>

      <section class="games-container">
        <% games.forEach((game) => { %>
        <div class="game-card">
          <article class="game-information">
            <p class="game-name"><%= game.name %></p>
            <p class="game-developer">
              <span>Developer</span>: <%= game.developer_names.join(", ") %>
            </p>
            <p class="game-genre">
              <span>Genre</span>: <%= game.genre_names.join(", ") %>
            </p>
            <p class="game-stock"><span>Stock</span>: <%= game.stock %></p>
          </article>

          <div class="game-actions">
            <a href="/games/<%= game.id %>/edit-game" class="btn-edit">Edit</a>
            <form action="/games/<%= game.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn-delete">Delete</button>
            </form>
          </div>
        </div>
        <% }); %>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
